# Angular build artifacts
/dist
/tmp
/out-tsc
/.angular/cache

# Dependencies and logs
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Tool caches
.eslintcache
.stylelintcache

# Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Testing
/coverage

# Hosting
.vercel

# System
.DS_Store
Thumbs.db

# Generated
/src/environments/version.ts
/src/environments/runtime-env.generated.ts
/ngsw-config.json

# Environment
/.env
/.env.*
!.env.example
