@use 'styles/mixins' as *;

:host {
  display: inline-block;
}

.status-badge {
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;

  @include status-colors;
}
